@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@import "open-props/colors";
@import "./variables.scss";
@import "open-props/borders";
@import "open-props/fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Overpass";
  font-weight: var(--font-weight-4);
  color: var(--gray-9);
  scroll-behavior: smooth;
  scroll-padding-block: var(--size-4);
}

body {
  font-size: 20px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--gray-0);
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  max-width: var(--size-lg);
  margin-inline: auto;
  width: 100%;
  padding-inline: var(--size-4);
}

.section-title {
  font-family: "Overpass";
  font-style: normal;
  font-weight: var(--font-weight-5);
  font-size: var(--font-size-5);
  color: var(--blue-7);
  margin-bottom: var(--size-4);
}

.mdx-page-container {
  max-width: var(--size-content-3);
  margin-inline: auto;
}
