*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

::selection {
  background-color: var(--indigo-2);
}

html,
body {
  height: 100%;
  font-family: "Overpass", sans-serif;
  font-weight: var(--font-weight-4);
  color: var(--gray-7);
  scroll-behavior: smooth;
  scroll-padding-block: var(--size-4);
}

body {
  font-size: var(--body-font-size);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  background-color: var(--indigo-0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: 700;
}

.container {
  max-width: var(--size-lg);
  margin-inline: auto;
  width: 100%;
  padding-inline: var(--size-4);
}

.section-title {
  font-family: "Overpass";
  font-style: normal;
  font-size: var(--heading-font-size);
  color: var(--gray-8);
  margin-bottom: var(--size-4);
}

.mdx-page-container {
  max-width: var(--size-content-3);
  margin-inline: auto;
  padding-inline: var(--size-4);
}
