.mdx {
  accent-color: var(--indigo-8);
  & > *:first-child {
    margin-top: 0;
  }
  --selection-bg: var(--indigo-1);
  --selection-text: var(--gray-8);
  color: var(--gray-7);
  * {
    &::selection {
      background-color: var(--selection-bg);
      color: var(--selection-text);
    }
    font-weight: 400;
  }
  strong {
    color: var(--gray-8);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 700;
    color: var(--gray-8);
  }
  a {
    color: var(--indigo-8);
    text-decoration: underline;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
  }
  h1 {
    margin-top: var(--size-8);
    margin-bottom: var(--size-4);

    font-size: var(--font-size-5);
    line-height: var(--font-lineheight-0);
    @media (min-width: 480px) {
      font-size: var(--font-size-6);
    }
  }

  h2 {
    margin-top: var(--size-5);
    margin-bottom: var(--size-3);
    font-size: var(--font-size-4);

    @media (min-width: 481px) {
      font-size: var(--font-size-5);
    }

    strong {
    }
  }

  h3 {
    margin-top: var(--size-4);
    margin-bottom: var(--size-2);
    font-size: var(--font-size-3);

    @media (min-width: 481px) {
      font-size: var(--font-size-4);
    }
  }

  h4 {
    margin-top: var(--size-4);
    margin-bottom: var(--size-2);
    font-size: var(--font-size-3);

    @media (min-width: 481px) {
      font-size: var(--font-size-3);
    }
  }
  p {
    color: var(--gray-8);

    margin-top: var(--size-4);
    margin-bottom: var(--size-4);

    @media (min-width: 481px) {
      font-size: var(--font-size-3);
    }
  }

  // Lists

  ol,
  ul {
    padding-left: var(--size-6);
  }
  ol {
    list-style-type: decimal;
  }
  // can I make unordered list with certain type

  ul {
    list-style-type: disc;
  }

  :where(li)::marker {
    color: var(--indigo-3);
  }

  li {
    margin-top: var(--size-1);
    margin-bottom: var(--size-1);
    color: var(--gray-8);
    font-size: 0.9em;
  }
  li {
    padding-left: var(--size-2);
  }

  li p {
    margin-top: var(--size-2);
    margin-bottom: var(--size-2);
  }

  ul > li > *:first-child,
  ol > li > *:first-child {
    margin-top: var(--size-3);
  }

  ul > li > *:last-child,
  ol > li > *:last-child {
    margin-bottom: var(--size-3);
  }

  strong {
    font-weight: 500;
  }

  h2 + *,
  h3 + *,
  h4 + * {
    margin-top: 0;
  }

  blockquote {
    color: var(--text);
    background-color: var(--quote-bg);
    border-left: 0.25rem solid var(--accent);

    margin-top: var(--size-6);
    margin-bottom: var(--size-6);
    padding: var(--size-3);

    font-style: italic;
    // What is the quotes property
    // quotes: '\201C""\201D""\2018""\2019';

    p:first-of-type {
      margin-top: 0;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
    p:first-of-type:before {
      content: open-quote;
    }
    p:last-of-type:after {
      content: close-quote;
    }
  }

  code,
  kbd,
  pre,
  samp {
    font: inherit;
    font-family: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
      Courier New, monospace;
    border: 1px solid var(--gray-4);
    font-weight: 400;
  }

  small {
    font-size: 0.8em;
  }
  sub,
  sup {
    font-size: 0.75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }
  img,
  video,
  figure {
    margin-block: var(--size-6);
  }

  // does this really work
  code:not(pre code) {
    background-color: white;
    display: inline-block;
    padding-inline: 0.5ch;
    border-radius: var(--radius-2);
    border-color: var(--gray-4);
    font-size: 0.75em;
    font-weight: 400;
  }

  pre {
    overflow: hidden;
    margin-block: var(--size-4);
    border-radius: var(--radius-2);
    font-weight: 400;
    .language-id {
      font-size: 1rem;
      padding-inline: var(--size-4);
      padding-block: var(--size-2);
      background-color: var(--gray-1);
      color: var(--gray-8);
      font-weight: 400;
    }
    code {
      padding-top: var(--size-4);
      padding-bottom: var(--size-4);
      padding-inline: var(--size-4);
      display: block;
      border-width: 0;
      border-radius: var(--radius-2);
      font-family: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        Liberation Mono, Courier New, monospace;
      font-size: 14px;
      @media (min-width: 480px) {
        font-size: 0.75em;
      }
      // line-height: 1.7rem;
      line-height: 28px;
      overflow-x: auto;
      font-weight: 400;
      & * {
        font-weight: 400;
      }
      white-space: "pre";
      & .line {
        min-height: 28px;
      }
    }
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
    text-align: left;
    margin-block: var(--size-4);
    font-size: 0.875rem;
    line-height: 1.7142857;
  }
  th,
  td {
    padding-right: var(--size-2);
    padding-block: var(--size-2);
    border-bottom: 1px solid var(--text-light);
  }
  th {
    font-size: 0.95rem;
    border-bottom: 1px solid var(--text-dark);
  }
}
