---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "config";
---

<style>
  header {
    min-height: var(--size-8);
    display: flex;
    align-items: center;
    background: var(--indigo-1);
  }

  nav {
    display: flex;
    width: 100%;
    margin-left: calc(var(--size-2) * -1);
    gap: var(--size-0);
    flex-wrap: wrap;
  }
</style>

<header>
  <div class="container">
    <nav>
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/post/page/1">Posts</HeaderLink>
      <HeaderLink href="/snippet/page/1">Snippets</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/project">Projects</HeaderLink>
    </nav>
  </div>
</header>
