---
export type Props = astroHTML.JSX.AnchorHTMLAttributes;

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname;
---

<a href={href} class:list={[className, "btn", { active: isActive }]} {...props}>
  <slot />
</a>

<style lang="scss">
  a.btn {
    color: var(--gray-7);
    text-decoration: none;
    padding-inline: var(--size-2);
    border: 1px solid transparent;
    border-radius: var(--radius-2);
    background-color: transparent;
  }

  a.active {
    font-weight: bold;
    color: var(--indigo-8);
  }
</style>
