---
---

<footer>
  <div class="container">
    <p>&COPY; 2022 &lmoustache; Tikeswar Naik</p>
  </div>
</footer>
<style>
  footer {
    margin-top: var(--size-10);
    padding-block: var(--size-2);
    font-size: var(--font-size-0);
    color: var(--gray-8);
    text-align: center;
    background: var(--gray-2);
    font-variation-settings: "wght" 300;
  }
</style>
