---
import type { FrontMatterWithSlug } from "src/types";
export type Props = { frontmatters: FrontMatterWithSlug[] };
const { frontmatters } = Astro.props;
---

<section>
  <h1 class="section-title">Popular Posts</h1>
  <div class="popular-posts">
    {
      frontmatters.map((frontmatter) => (
        <a href={`/post/${frontmatter.slug}`}>
          <span class="arrow"> &rarr;</span>
          <span>{frontmatter.title}</span>
        </a>
      ))
    }
  </div>
  <a class="show-all" href={`/post/page/1`}>Show All Posts</a>
</section>

<style>
  .popular-posts {
    display: flex;
    flex-direction: column;
    gap: var(--size-1);
  }

  a {
    text-decoration: none;
    color: var(--gray-8);
    display: flex;
    gap: var(--size-2);
    border: 1px solid transparent;
    padding-block: var(--size-2);
    padding-inline: var(--size-3);
    border-radius: var(--radius-2);
    outline: none;
    border: 2px solid transparent;
    width: fit-content;

    line-height: var(--font-lineheight-1);
    font-size: var(--font-size-3);
  }

  .arrow {
    transition: transform 0.3s;
  }

  a:hover,
  a:focus {
    background-color: var(--indigo-0);
    color: var(--indigo-9);
    border: 2px solid var(--indigo-2);
  }
  a:focus {
    border: 2px solid var(--indigo-3);
  }
  a:hover .arrow,
  a:focus .arrow {
    transform: translateX(4px);
  }

  .show-all {
    display: inline-block;
    margin-top: var(--size-2);
    border: 1px solid var(--gray-4);
    padding-block: var(--size-1);
    padding-inline: var(--size-2);
    background-color: var(--gray-0);
  }
  .show-all:hover,
  .show-all:focus {
    background-color: var(--indigo-6);
    color: var(--gray-0);
    border: 1px solid var(--gray-4);
  }
  .show-all:focus {
    outline: 2px solid var(--indigo-3);
    outline-offset: 1px;
  }
</style>
