---
import postTags from "src/content/posts/post-tags";

export type Props = { tags: string[] };
const { tags } = Astro.props;
---

<section>
  <h2 class="section-title">Tags</h2>
  <div class="tags">
    {
      tags.map((tag) => (
        <a href={`/${tag.toLocaleLowerCase()}/1`} class="btn">
          {tag.toLowerCase() in postTags ? postTags[tag.toLowerCase()] : tag}
        </a>
      ))
    }
  </div>
</section>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-2);
  }
</style>
