---
import postTags from "src/content/posts/post-tags";

export type Props = { tags: string[] };
const { tags } = Astro.props;
---

<section>
  <h2 class="section-title">Tags</h2>
  <div class="tags">
    {
      tags.map((tag) => (
        <a href={`/${tag.toLocaleLowerCase()}/1`} class="tag">
          {tag.toLowerCase() in postTags ? postTags[tag.toLowerCase()] : tag}
        </a>
      ))
    }
  </div>
</section>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-2);
  }

  .tag {
    background: var(--gray-0);
    padding: var(--size-1) var(--size-2);
    border-radius: var(--radius-2);
    text-decoration: none;
    color: inherit;
    border: 1px solid var(--gray-4);
  }

  .tag:hover,
  .tag:focus {
    background-color: var(--indigo-7);
    color: var(--gray-0);
  }

  .tag:focus {
    outline: 2px solid var(--indigo-3);
    outline-offset: 2px;
  }
</style>
