---
import type { FrontMatterWithSlug } from "src/types";

export type Props = { frontmatter: FrontMatterWithSlug };
const { frontmatter } = Astro.props;
---

<a href={`/post/${frontmatter.slug}`}>
  <article>
    <h3>{frontmatter.title}</h3>
    <p>{frontmatter.description}</p>
    <p class="read-more">
      Read more
      <span class="arrow">&rarr;</span>
    </p>
  </article>
</a>

<style lang="scss">
  a {
    --padding-inline: var(--size-4);
    display: block;
    text-decoration: none;
    color: inherit;
    border: 1px solid var(--gray-2);
    border-radius: var(--radius-2);
    padding-block: var(--size-3);
    padding-inline: var(--padding-inline);
    // margin-left: calc(var(--padding-inline) * -1);
  }

  a:hover,
  a:focus {
    border-color: var(--gray-4);
  }
  a:focus {
    outline: none;
    border-color: var(--gray-5);
  }

  h3 {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-5);
    transition: 0.3s;
    margin-bottom: var(--size-3);
    color: var(--gray-8);
  }

  a:hover h3 {
    color: var(--gray-9);
  }

  p {
    font-size: var(--font-size-2);
    @media (min-width: 700px) {
      font-size: var(--font-size-3);
    }
    font-weight: 300;
    color: var(--gray-8);
    max-width: var(--size-content-3);
  }

  h3 + p {
    margin-bottom: var(--size-2);
  }

  .read-more {
    font-weight: var(--font-weight-5);
    color: var(--gray-8);
    font-size: 16px;
  }

  a:hover .read-more {
    transition: 0.3s;
    color: var(--blue-7);
  }
</style>
