---
import BaseHead from "@components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "config";
import "@styles/global.scss";
import "@styles/variables.scss";
import "@styles/mdx.scss";
import PageHeader from "@components/PageHeader.astro";
import type { MDXWithSlug } from "src/types";
export type Props = MDXWithSlug;
const { Content, frontmatter } = Astro.props;
import SkipToMain from "@components/SkipToMain.astro";
import Footer from "@components/Footer/Footer.astro";
---

<!DOCTYPE html>
<html>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style lang="scss">
      .mdx-wrapper {
        margin-top: var(--size-8);
        font-size: var(--font-size-3);
        color: var(--gray-8);
        margin-inline: auto;
        padding-bottom: var(--size-10);
        /* margin-inline: auto; */
        max-width: var(--size-content-3);
        padding-inline: var(--size-4);
      }

      header {
        padding-block: var(--size-2);
        background: var(--indigo-1);
      }
      .mdx-header {
        padding-top: var(--size-10);
        background: var(--indigo-1);
        padding-bottom: var(--size-4);
        font-size: var(--font-size-3);
      }
      a.back {
        color: var(--gray-7);
        cursor: pointer;
        background-color: transparent;
        border-color: transparent;
      }
      .title {
        color: var(--gray-8);
        margin-bottom: var(--size-4);
        font-size: var(--font-size-5);
        line-height: var(--font-lineheight-0);
        @media (min-width: 481px) {
          font-size: var(--font-size-6);
        }
      }
    </style>
  </head>
  <body>
    <SkipToMain />
    <header>
      <div class="mdx-page-container">
        <a class="btn back">&larr; Go Back</a>
      </div>
    </header>
    <main id="main">
      <article>
        <header class="mdx-header">
          <div class={"mdx-page-container"}>
            <h1 class="title">{frontmatter.title}</h1>
          </div>
        </header>
        <div class="mdx-wrapper mdx">
          <Content />
        </div>
      </article>
    </main>
    <Footer />
    <script is:inline>
      const backElem = document.querySelector(".back");
      function goBack() {
        history.back();
      }
      if (backElem) {
        backElem.addEventListener("click", goBack);
      }
    </script>
  </body>
</html>
